.root {
  position: relative;
  overflow: hidden;
  height: 80vh;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* İsteğe bağlı karartma overlay'i */
  z-index: 2;
}

.inner {
  position: relative;
  z-index: 3;
  padding-top: 200px;
  padding-bottom: 120px;
}

.content {
  position: relative;
  max-width: 600px;
}

.title {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

.description {
  color: white;
  opacity: 0.75;
  max-width: 500px;
}

.control {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .inner {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}
