.header {
  height: 56px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  transition: all 0.2s ease;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.active {
  background-color: light-dark(
    var(--mantine-primary-color-light),
    var(--mantine-primary-color-dark)
  );
  color: var(--mantine-primary-color);
  font-weight: 600;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-primary-color-light),
      var(--mantine-primary-color-dark)
    );
  }
}

.drawerContent {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
}

.drawerLink {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  border-radius: var(--mantine-radius-sm);
  transition: all 0.2s ease;
}

.activeDrawer {
  background-color: light-dark(
    var(--mantine-primary-color-light),
    var(--mantine-primary-color-dark)
  );
  color: var(--mantine-primary-color);
  font-weight: 600;
}
